@model ProjectManagement.ViewModels.TaskViewModel.EditTaskViewModel

@{
    ViewData["Title"] = "Página de Edição";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label"><strong>Nome</strong></label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(x => x.Name)
                </span>
            </div>

@*             <div class="col-md-4">
                <label class="form-label"><strong>Status</strong></label>
                <div>
                    <label class="d-flex align-items-center">
                        @Html.RadioButtonFor(x => x.IsAtive, true)
                        <span class="ms-4">Ativo</span>
                    </label>
                </div>
                <div>
                    <label class="d-flex align-items-center">
                        @Html.RadioButtonFor(x => x.IsAtive, false)
                        <span class="ms-4">Inativo</span>
                    </label>
                </div>

                <span class="text-danger">
                    @Html.ValidationMessageFor(x => x.IsAtive)
                </span>
            </div> *@
        </div>
        <div class="row mb-4">
            <div class="col-md-8">
                <label class="form-label"><strong>Descrição</strong></label>
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(x => x.Description)
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <input type="submit" class="btn btn-dark text-white" value="Editar" />
                <a href="/TaskManagement/Index" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>

}

